* {
    box-sizing: border-box;
}

body {
    height:100vh;
    background-repeat: no-repeat;
    color: #1B5678;
    font-family: 'Epilogue', sans-serif;
    padding:10px;
    background-color: #F6FAFF;
}

nav {
    width:100%;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
    align-items: center;
}

.row {
    max-width: 1000px;
    margin:auto;
    padding:80px 0px;
}

nav > p {
    letter-spacing: 3px;
    font-weight: lighter;
}

button {
    padding: 4px 14px;
    height:30px;
    border-radius: 0px;
    letter-spacing: 2px;
    border:1px solid #ededed;
}


/* components */

.wide-card {
    width: 100%;
    border:1px solid #ededed;
    background-color: #fff;
}

.wide-card-header {
    padding:16px;
    border-bottom: 1px solid #ededed;
}

.wide-card-body {
    padding:16px;
}