* {
    box-sizing: border-box;
}

:root {
    --grey-blue: #194B67;
    --max-width: 1000px;
    --dark-grey: #263237;
    --light-blue: #EBF8FF;
    --blue-highlight: #6DB4DC;
    --light-green: #EFFFFD;
}

body {
    height:100vh;
    background-repeat: no-repeat;
    color: #1B5678;
    font-family: 'Epilogue', sans-serif;
    padding:10px;
    background-color: #F6FAFF;
    padding-bottom: 1000px;
}

button {
    font-family: Inter;
    font-weight: bold;
    padding:8px 14px;
    border-radius: 4px;
    border:1px solid #EBEBEB;
    font-size: 16px;
    display: flex;
    align-items: center;
    color:#194B67;
    max-width: 130px;
    margin-top: 5px;
}

button > svg {
    margin-left: 4px;
}

.light-green-btn {
    background-color: var(--light-green);
}

nav {
    width:100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

.max-width {
    width:var(--max-width);
    margin:auto;
    max-width: 100%;
}

section {
    padding:80px 0px;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
}

nav > a {
    letter-spacing: 2px;
    font-size: 14px;
    color:var(--grey-blue);
}

h1, h2, h3, h4, h5, h6 {
    font-family: Karla;
    letter-spacing:-1px;
    font-weight: 800;
    margin-bottom: 6px;
    margin-top: 6px;
}

h3, h4 {
    font-family: Inter;
    letter-spacing: normal;
}

h5 {
    font-family: Epilogue;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 10px;
}

a {
    font-family: Epilogue;
}

p {
    font-family: Inter;
    margin-bottom: 12px;
    margin-top: 6px;
    font-weight: 500;
    font-size: 18px;
}


img{
    max-width: 100%;
}

/* components */

.wide-card {
    width: 100%;
    border:1px solid #EBEBEB;
    background-color: #fff;
    border-radius: 4px;
}

.wide-card-header {
    padding:16px;
    background-color: var(--dark-grey);
    color:var(--light-blue);
    font-size: 14px;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: start;
}

.wide-card-header > svg {
    font-size:40px;
    margin-bottom: 8px;
}

.shopify-logo {
    color:#96B15B;
}

.wordpress-logo {
    color:#71ADCD;
}

.wide-card-body {
    padding:16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* floating nav */


.floating-nav {
    position: fixed;
    bottom:15px;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #a5a5a5;
    box-shadow: 0px 4px 4px rgba(199, 199, 199, 0.2);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    width: 90%;
    font-size: 14px;
    max-width: 500px;
    left: 50%;
    transform: translateX(-50%);
}

.floating-nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:15px;
    position: relative;
    text-transform: up;
    font-weight: 400;
    color:var(--grey-blue);
    text-decoration: none;
    width: 25%;
    /* border-radius: 10px; */

}

 .floating-nav-item:nth-of-type(1){
    border-radius: 10px 0px 0px 10px;
}
.floating-nav-item:nth-of-type(4){
    border-radius: 0px 10px 10px 0px;
}

.floating-nav-item  > svg {
    margin-bottom: 6px;
    font-size: 30px;
}

.floating-nav-item:hover {
    background:#ededed;
}


@media (max-width: 1000px){
    .wide-card {
        margin-top: 30px;
    }
}