* {
    box-sizing: border-box;
}

:root {
    --highlight: #71ADCD;
    --blue-graident: linear-gradient(180deg, #0B1446 0%, #0C0D11 100%);
    --green: #96B15B;
    --dark-blue: #060B23;
    font-size: 16px;
}

html {
    scroll-behavior: smooth;
  }

body {
    background-color: var(--dark-blue);
    font-family: Inter;
    color:#cecece;
    height: 2000px;
    margin:10px 0px;
}

h1, h2, h3, h4 {
    font-weight: 500;
    color:rgb(244, 244, 244);
    font-family: Lexend;
}

h1 {
    margin-bottom: 12px;
}

h2 {
    margin-top: 6px;
    margin-bottom: 12px;
}

h3 {
    margin-top: 30px;
    margin-bottom: 0px;
}

p {
    line-height: 24px;
    margin:6px 0px;
}

a, button {
    display: inline-block;
    cursor: pointer;
}

a {
    text-decoration: none;
    color:inherit;
}

a:hover {
  color:var(--highlight);
}

.link {
  color:var(--highlight);
}

button, span, input, label {
    font-family: inherit;
    font-size: inherit;
}

button {
    border:none;
    background:white;
    color:black;
    border-radius: 20px;
    padding:10px 20px;

}

/* Images */

img {
    max-width: 100%;
    display: inline-block;
}

.logo img {
  width: 120px;
}


.background-image {
  object-fit: cover;
  position: absolute;
  right: 0;
  height: 500px;
  top: 0;
  z-index: -1;
}

.portfolio-image-holster{
  padding:20px 0px;
  display: flex;
  gap:20px;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  white-space: nowrap;
}

.portfolio-image {
  scroll-snap-align: start;
  width:320px;
  border-radius: 2px;
  transition: all 2s;
}


/* NAV */

.nav-wrapper {
    display: flex;
    align-items: center;
    max-width: 1080px;
    padding:16px;
}



.logo-written {
    font-size: 16px;
    font-weight: 400;
    font-family: Lexend;
    color:#cacaca;
}



.primary-button {
    transition: all 1s;
    background-color: inherit;
    background: linear-gradient(180deg, #1431d1 0%, #0C0D11 100%);
    color: #ebebeb;
}

.primary-button:hover {
    color: #fff;
    background: #1431d1;
    transition: all 1s;
}

nav {
    background: var(--blue-graident);
    border-radius: 4px;
    padding:10px 0px;
    display: flex;
    width:400px;
    max-width: 92%;
    margin:auto;
    position: fixed;
    top: auto;
    bottom:-10px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  
}

.nav-item {
    width:25%;
    display: flex;
    flex-direction: column;
    font-weight: 300;
    align-items:center;
    transition: 0.3s;
    font-family: Lexend;
}


.active {
    color:var(--highlight);
}

.nav-item:hover, li:hover {
    color: var(--highlight);
    cursor: pointer;
}

.nav-item  > .iconify {
   font-size: 24px;
   margin-bottom:6px;
}


/* Utilities */
.green {
    color: var(--green);
}

.green-bg {
    background-color: var(--green);
}


/* Layouts */

.section-content {
    max-width: 1080px;
    margin:auto;
    padding:20px 16px;
}

.section-tag {
    font-weight: 500;
    font-size: 14px;
    font-family: Lexend;
}

/* Header */

header {
    /* background-image:url('https://res.cloudinary.com/db2okldfm/image/upload/v1674988919/Hannington%20Digital/Grid_bg_fvwdpy.svg'); */
    background-position: right;
    background-repeat: no-repeat;
    padding-bottom: 60px;
}



header button {
    margin-top: 20px;
    margin-right: 20px;
}
.header-content {
    max-width: 670px;
}



/* Media queries  */


@media (min-width:1000px){
    nav {
        position: relative;
        top: auto;
        bottom:auto;
        left: auto;
        transform: translate(0%, 0%);
        margin: 0px;
        background: none;
    }
    .logo-written {
        font-size: 16px;
    }
    .logo {
        display: block;
    }
    .nav-wrapper {
        justify-content: space-between;
        padding:0px 16px;
        margin:auto;
    }
    .portfolio-sidebar {
      height: 60%;
    }
    
}

/* Portfolio styles */

#portfolio {
    border-top:1px solid #2C3044;
    border-bottom: 1px solid #2C3044;
}

#portfolio > .section-content {
    padding-top:0px;
    padding-bottom:0px;
}

.portfolio {
    display:flex;
    width:100%;
  }
  
  .portfolio-sidebar {
    width:25%;
    background-color: var(--dark-blue);
    padding: 40px 0px;
    position: sticky;
    top:0;
  }

  .portfolio-sidebar h2 {
      font-size: 18px;
  }
  
  .portfolio-content {
    position:relative;
    width:75%;
    max-width:100%;
    min-height:1000px;
    padding: 40px 40px;
    border-left: 1px solid #2C3044;
  }

  .portfolio-content h3 {
    margin-top:50px;
  }
  .portfolio-item {
    position:absolute;
    display:none;
  }
  
  
  .portfolio-links{
    transition:0.5s;
    padding: 5px 0px;
    color:#a5a5a5;
  }
  
  .portfolio-links:hover {
    transform:translateX(5%);
    color:#fff;
  }

  .portfolio-links:hover::before {
      background-color: blue;
  }
  
  .portfolio-item {
    position:absolute;
    display:none;
  }
  
  .portfolio-item:nth-of-type(1){
    display:block;
  }
  
  
  .show {
    animation:slidein 0.4s;
    display:block;
    opacity:1;
  }
  
  .hide {
    animation:slideout 0.4s;
    opacity:0;
  }
  
  .portfolio-sidebar > ul {
    list-style-type:none;
    padding-inline-start:0px;
  }
  li {
    display:flex;
    align-items:center;
    white-space:nowrap;
  }

  li::before {
     content: "";
     width: 40px;
     height: 1px;
     background-color:white;
     display: block;
     margin-right: 10px;
  }


  .active-link {
    color:#fff;
    transform:translateX(5%);
}
  .active-link::before {
    background-color:#1431d1;
}

  @keyframes fadein {
    from {
      opacity:0;
    }
  
    to {
      opacity:1;
    }
  }

  @keyframes fadeout {
    from {
      opacity:1;
    }
  
    to {
      opacity:0;
    }
  }

  @keyframes slidein {
    from {
      transform:translateX(200%);opacity:0;
    }
  
    to {
      transform:translateX(0%);
      opacity:1;
    }
  }
  
  @keyframes slideout {
    from {
       transform:translateX(0%);
       opacity:1;
    }
  
    to {
      transform:translateX(-200%);
      opacity:0;
    }
  }


  /* Lighthouse */

 .lighthouse-container {
   margin-top:20px;
   width:300px;
   max-width: 100%;
   display: flex;
   gap:20px;
 }

  .count-up {
    font-weight: 500;
    text-align: center;
    width: 70px;
    height: 70px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 100%;
    border: 1px solid var(--green);
    padding: 4px;
    align-items: center;
  }

  .count-up-text {
    font-size: 10px;
    text-transform: uppercase;
  }

  .count-up-number {
    font-size: 20px;
    color:var(--green);
  }
  
  @media (max-width:800px){
    .portfolio {
      flex-direction:column;
    }
    .portfolio-content {
      width:100%;
      padding:10px 0px;
      border-left:none;
    }
    .portfolio-sidebar {
      width:100%;
      padding:0px 0px;
      z-index: 1;
      position: relative;
    }
    .portfolio-links{
      padding-bottom: 10px;
      border-bottom:2px solid transparent;
    }
    .portfolio-sidebar ul {
      /* padding-inline-start:10px; */
      padding:10px 0px;
      display:flex;
      flex-wrap:no-wrap;
      gap:20px;
      overflow:auto;
      width:100%;
    /* border-bottom: 1px solid #373737; */
    }
    li::before {
      display:none;
    }
    .active-link {
        transform:translateX(0%);
        border-bottom:2px solid #1431d1;
    }
    .active-link:hover {
        transform:translateX(0%);
    }
    header {
        background-position: left;
    }
    .portfolio-sidebar h2 {
        display: none;
    }
    .background-image {
      opacity: 0.6;
    }
  }

