* {
    box-sizing: border-box;
}

:root {
    --highlight: #71ADCD;
    --blue-graident: linear-gradient(180deg, #0B1446 0%, #0C0D11 100%);
    --green: #96B15B;
    font-size: 16px;
}

body {
    background-color: #060B23;
    font-family: Inter;
    color:#cecece;
    height: 2000px;
}

h1, h2, h3, h4 {
    font-weight: 500;
    color:#fff;
}

h2 {
    margin-top: 2px;
    margin-bottom: 16px;
}

p {
    line-height: 24px;
}

a, button {
    display: inline-block;
    cursor: pointer;
}

a {
    text-decoration: none;
    color:inherit;
}

button, span, input, label {
    font-family: inherit;
    font-size: inherit;
}

button {
    border:none;
    background:white;
    color:black;
    border-radius: 20px;
    padding:10px 20px;

}

img {
    max-width: 100%;
    display: block;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    max-width: 1080px;
    padding:10px;
}


.logo {
    display: none;
}

.logo img {
    width: 120px;
}

.logo-written {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    color:#cacaca;
}



.primary-button {
    
    background: linear-gradient(180deg, #1431d1 0%, #0C0D11 100%);
    color: #ebebeb;
}

.primary-button:hover {
    color: #fff;
    background: linear-gradient(177.39deg, rgba(0, 41, 255, 0.249) 2.18%, rgba(34, 60, 188, 0) 119.23%);
    transition: all 1s;
}

nav {
    background: var(--blue-graident);
    border-radius: 4px;
    padding:10px 0px;
    display: flex;
    width:400px;
    max-width: 92%;
    margin:auto;
    position: fixed;
    top: auto;
    bottom:-10px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  
}

.nav-item {
    width:25%;
    display: flex;
    flex-direction: column;
    font-weight: 300;
    align-items:center;
    transition: 0.3s;
}

.nav-wrapper {
    padding:0px;
}

.active {
    color:var(--highlight);
}

.nav-item:hover, li:hover {
    color: var(--highlight);
    cursor: pointer;
}

.nav-item  > .iconify {
   font-size: 24px;
   margin-bottom:6px;
}


/* Utilities */
.green {
    color: var(--green);
}

.green-bg {
    background-color: var(--green);
}


/* Layouts */

.section-content {
    max-width: 1080px;
    margin:auto;
    padding:20px 10px;
}

.section-tag {
    font-weight: 500;
    font-size: 14px;
}

/* Header */

header {
    background-image:url('https://res.cloudinary.com/db2okldfm/image/upload/v1674988919/Hannington%20Digital/Grid_bg_fvwdpy.svg');
    padding-bottom: 60px;
}

header button {
    margin-top: 10px;
    margin-right: 20px;
}
.header-content {
    max-width: 700px;
}


/* Media queries  */


@media (min-width:1000px){
    nav {
        position: relative;
        top: auto;
        bottom:auto;
        left: auto;
        transform: translate(0%, 0%);
        margin: 0px;
        background: none;
    }
    .logo-written {
        font-size: 16px;
    }
    .logo {
        display: block;
    }
    .nav-wrapper {
        justify-content: space-between;
        padding:0px 10px;
        margin:auto;
    }
    
}


/* Portfolio styles */


#portfolio {
    border-top:1px solid #373737;
    border-bottom: 1px solid #373737;
}

.portfolio {
    display:flex;
    width:100%;
    height:800px;
  }
  
  .portfolio-sidebar {
    width:25%;
    border-right: 1px solid #373737;
    padding: 20px 0px;
  }

  .portfolio-sidebar h2 {
      font-size: 20px;
  }
  
  .portfolio-content {
    position:relative;
    width:75%;
    max-width:100%;
    height:800px;
    padding: 20px;
  }
  .portfolio-item {
    position:absolute;
    display:none;
  }
  
  
  .portfolio-links{
    transition:0.5s;
    padding: 5px 0px;
  }

  .active-link {
      color:var(--highlight);
      transform:translateX(5%);
  }
  
  .portfolio-links:hover {
    transform:translateX(5%);
  }
  
  .portfolio-item {
    position:absolute;
    display:none;
  }
  
  .portfolio-item:nth-of-type(1){
    display:block;
  }
  
  
  .show {
      animation:slidein 0.4s;
    display:block;
    opacity:1;
  }
  
  .hide {
    animation:slideout 1s;
    opacity:0;
  }
  
  .portfolio-sidebar > ul {
    list-style-type:none;
    padding-inline-start:0px;
  }
  li {
    display:flex;
    align-items:center;
    white-space:nowrap;
  }

  li::before {
     content: "";
     width: 40px;
     height: 1px;
     background-color:white;
     display: block;
     margin-right: 10px;
  }

  @keyframes fadein {
    from {
      opacity:0;
    }
  
    to {
      opacity:1;
    }
  }

  @keyframes fadeout {
    from {
      opacity:1;
    }
  
    to {
      opacity:0;
    }
  }

  @keyframes slidein {
    from {
      transform:translateX(200%);opacity:0;
    }
  
    to {
      transform:translateX(0%);
      opacity:1;
    }
  }
  
  @keyframes slideout {
    from {
       transform:translateX(0%);
       opacity:1;
    }
  
    to {
      transform:translateX(-200%);
      opacity:0;
    }
  }
  
  @media (max-width:800px){
    .portfolio {
      flex-direction:column;
    }
    .portfolio-content {
      width:100%;
      padding:10px 0px;
    }
    .portfolio-sidebar {
      width:100%;
      border:none;
      padding:10px 0px;
    }
    .portfolio-sidebar ul {
      /* padding-inline-start:10px; */
      padding:10px 0px;
      display:flex;
      flex-wrap:no-wrap;
      gap:20px;
      overflow:auto;
      width:100%;
    border-bottom: 1px solid #373737;
    border-top: 1px solid #373737;

    }
    li::before {
      display:none;
    }
  }
