* {
    box-sizing: border-box;

}

:root {
  --darkest-color: #0C121A;
  --dark-color: #111922; 
  --max-width: 1000px;
  --default-padding: 10px;
  --main-font: 'Lora', serif;
  --secondary-font: 'Epilogue', sans-serif;
  --heading-color: #efefef;
  --body-color: #D4D4D4;
  --body-line-height: 24px;
  --body-font-size: 18px;
  --smaller-font-size:16px;
  --body-font-weight: 400;
  --letter-spacing: 0.1em;
}

html {
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: var(--darkest-color);
    font-family: var(--main-font);
    color:var(--body-color);
    line-height: var(--body-line-height);
    font-size: var(--body-font-size);
    position: relative;
    height:2000px;
    margin:0;
}

h1, h2, h3, h4, h5 {
    color:var(--heading-color);
    font-weight: 500;
    margin-bottom: 8px;
    margin-top:8px;
    letter-spacing: var(--letter-spacing);
}

header {
    background-color: var(--dark-color);
    position: sticky;
    position: -webkit-sticky;
    top: 0; /* required */
    width:100%;
    z-index: 1;
}

.header-content {
    margin: auto;
    padding:var(--default-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-toggle {
    height: 30px;
    line-height: 30px;
    width:100px;
    font-family: var(--secondary-font);
    letter-spacing: var(--letter-spacing);
    color:var(--body-color);
    background-color: var(--darkest-color);
    border:1px solid var(--body-color);
    font-size: var(--smaller-font-size);
}

.nav-items {
    display: none;
}

.show-nav {
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: var(--darkest-color);
}

.nav-links-container{
    display: flex;
    flex-direction: column;
    padding: var(--default-padding);
    height: 100%;
    transition: 1s ease-in;
    background: inherit;
}


@media (min-width:1000px){
    .max-width {
        max-width: var(--max-width);
    }
}

section {
    padding-top:40px;
    padding-bottom: 40px;
}

.section-title {
    margin:auto;
    text-align: center;
}

.section-title > h2 {
    background-image: url('https://res.cloudinary.com/db2okldfm/image/upload/v1668891593/Hannington%20Digital/Line_4_ftwu1j.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.section-title > .iconify {
    font-size:26px;
}

#work {
    position: relative;
}

.gradient-border{
    border: 1px solid;
    border-image-source: linear-gradient(90deg, #E6E6E6 0%, rgba(230, 230, 230, 0) 49.35%, #E6E6E6 97.23%);
    height: 1px;
    width: 100%;
    position: absolute;
}